*{
    padding: 5px
}
body{
    background-image: url(../Images/Doctor-at-office.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: black;
    font-family: 'Times New Roman';
    backface-visibility: visible;
    padding-top: 100px;
}



.Heading {
    padding: 10px;
    font-size: 30px;
    width:500px;
    height: 35px;
    position:relative;
    top: -150px;
    left: 20px;
    border-radius: 10px;
}
  
  /* Style for the ordered lists */
  .Lists {
    padding: 20px;
    font-size: 16px;
    position: relative;
    left: -60px;
    border-radius: 10px;
}

  /* Style for the list items */
  .Lists li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 550px;
    height: 100px;
}
  
  /* Style for the list item image */
  .Lists li img {
    margin-left: auto;
    margin-right: 20px;
    max-width: 50%;
}

  /* Apply a common style to all sections */
.section1,.section2,.section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: color;
    flex-wrap: wrap;
    border-radius: 10px;

}
  
  
#Image1{
    width: 300px;
    height: 300px;
    position: relative;
    right: 955px;
    top: 27px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}
#Image2{
    width: 300px;
    height: 300px;
    position: relative;
    right: 955px;
    top: 27px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}
#Image3{
    width: 300px;
    height: 300px;
    position: relative;
    right: 955px;
    top: 27px;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
} 
