*{
    background-color: rgb(3, 3, 38);
    font-family: sans-serif;
}
body{
    margin: 0px;
}

.navbar
{
    height: 12%;
    display: flex;
    align-items: center;
    margin: 0px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin: 60px;
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
header h1{
    background-image: url("../Images/pc\ in\ 80s.jpeg");
    color: azure;
    text-align: center;
    font-size: 500%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding: 140px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
   
}

main{
    color: azure;
    margin: 70px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}