/* Style for the heading divs */
*{
    padding: 5px
}

.heading {
    padding: 10px;
    font-size: 40px;
}
  
  /* Style for the ordered lists */
  .lists {
    padding: 20px;
    font-size: 16px;
}
  
body{
    background-image: url("../Images/Technology.jpeg");
    padding-top: 100px;
    color: black;
    backface-visibility: visible;
}

  /* Style for the list items */
  .lists li {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
  /* Style for the list item image */
  .lists li img {
    margin-left: auto;
    margin-right: 20px;
    max-width: 50%;
}
  
  /* Style for the paragraph elements */
  p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}
 

  /* Apply a common style to all sections */
.section1,.section2,.section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: color;
    flex-wrap: wrap;

}
  
  /* Align the text to the left */
.section3 p {
    text-align: center;
    max-width: 50%;
    color: aliceblue;
}
  
  /* Display the images on the right */
  section img {
    max-width: 50%;
}
 