/*A universal selector*/
*{
    padding: 5px
}

/* Style for the heading divs */
.heading {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
}
  
  /* Style for the ordered lists */
  .lists {
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}
  
body{
    padding-top: 100px;
    color: black;
    background-image: url("../Images/Technology.jpeg");
    backface-visibility: visible;
}

  /* Style for the list items */
  .lists li {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
  /* Style for the paragraph elements */
  p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}
 

  /* Apply a common style to all sections */
.section1,.section2,.section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: color;
    flex-wrap: wrap;
} 