body{ padding-top: 50px;}
.green-bg {
  background-color: #565252;
  padding: 50px;
  text-align: center;
vertical-align:middle;
  margin-bottom: 20px;
  height : 300px;

}

.white-bg {
  background-color: #fc0000;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;
}