*
{
    padding: 0;
    margin: 0;
    background-color:cadetblue;
}
.container
{
    padding: 2%;
}
.navbar
{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar ul li
{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
font-size: large;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after
{
    width: 100%;
}
.col
{
    width: 50%;
}
#one
{
    width: 50%;
    position: absolute;
    left: 550px;
}
#two
{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 900px;
    bottom: 10px;
}
#three
{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 900px;
}
.row
{
    display: flex;
}
img
{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
}