*
{
    margin: 0;
    padding: 0;
}
body
{
  background: url("../Images/radiology-tech-programs-banner-1000x365.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.pageTitle {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 300px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px; /* Add border-radius to make corners curvy */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for the shadow effect */
}

.container
{
    width: 100%;
    display: flex;
    background: url(../Images/24.jpg);
}
.Left
{
    width: 700px;
    position: absolute;
    left: 60px;
    top: 200px;
}
.MainRow h2
{
  padding: 5px;
  text-align: center;
  background-color: #accbff;
  border-radius: 5px; /* Add border-radius to make corners curvy */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for the shadow effect */
  margin-bottom: 0px;
}
.Right
{
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 200px;
    margin: 20px;
}
.subRow h3{
  background-color: #69abdf;
  border-radius: 5px; /* Add border-radius to make corners curvy */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for the shadow effect */
}
.structure {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 margin-top: 0px;
}
